Importing dependencies

In [13]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

Load csv file to dataframe

In [14]:
ccd = pd.read_csv('/content/drive/MyDrive/creditcard.csv')

In [15]:
ccd.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [16]:
ccd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [17]:
ccd.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [18]:
ccd['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

splitting class

In [19]:
real = ccd[ccd.Class==0]
fake = ccd[ccd.Class==1]

In [20]:
print(real.shape)

(284315, 31)

In [21]:
print(fake.shape)

(492, 31)

In [22]:
real.Amount.desribe()

AttributeError: ignored

In [23]:
real.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

Undersampling

In [24]:
real_sample = real.sample(n=492)

In [25]:
data = pd.concat([real_sample,fake],axis=0)

In [26]:
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
38463,39399.0,1.350994,-0.654602,0.153743,-0.807613,-0.911887,-0.621794,-0.604031,-0.039503,-0.906834,...,0.288707,0.635796,-0.189782,0.010012,0.592851,-0.080692,-0.015932,0.000641,36.30,0
114842,73642.0,1.363328,-0.879909,0.626231,-0.911871,-1.202636,0.029326,-1.229739,0.216405,-0.373928,...,0.369472,0.887971,-0.210716,-0.494394,0.451320,-0.011622,0.020387,0.006290,24.99,0
240655,150696.0,-0.751808,1.424322,-0.701528,-0.285638,0.472695,-1.292501,0.899229,-0.035056,0.263392,...,0.243435,1.006485,-0.265322,-0.166147,-0.430845,-0.167697,0.187210,0.044677,22.36,0
100081,67408.0,-0.570158,0.748027,1.815828,-0.066809,0.303242,0.310563,0.751915,-0.123053,0.395612,...,-0.079053,0.533499,-0.248898,0.065763,-0.247873,0.323712,0.153145,-0.200977,3.79,0
188854,128160.0,0.572669,0.817356,-0.012379,1.080272,0.192829,-0.762791,0.600372,-0.275870,-0.274037,...,0.446425,1.548662,-0.073699,0.046307,-1.210023,0.140506,0.340919,0.282626,1.00,0

In [27]:
data['Class'].valuecounts()

AttributeError: ignored

In [28]:
data['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [29]:
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
38463,39399.0,1.350994,-0.654602,0.153743,-0.807613,-0.911887,-0.621794,-0.604031,-0.039503,-0.906834,...,0.288707,0.635796,-0.189782,0.010012,0.592851,-0.080692,-0.015932,0.000641,36.30,0
114842,73642.0,1.363328,-0.879909,0.626231,-0.911871,-1.202636,0.029326,-1.229739,0.216405,-0.373928,...,0.369472,0.887971,-0.210716,-0.494394,0.451320,-0.011622,0.020387,0.006290,24.99,0
240655,150696.0,-0.751808,1.424322,-0.701528,-0.285638,0.472695,-1.292501,0.899229,-0.035056,0.263392,...,0.243435,1.006485,-0.265322,-0.166147,-0.430845,-0.167697,0.187210,0.044677,22.36,0
100081,67408.0,-0.570158,0.748027,1.815828,-0.066809,0.303242,0.310563,0.751915,-0.123053,0.395612,...,-0.079053,0.533499,-0.248898,0.065763,-0.247873,0.323712,0.153145,-0.200977,3.79,0
188854,128160.0,0.572669,0.817356,-0.012379,1.080272,0.192829,-0.762791,0.600372,-0.275870,-0.274037,...,0.446425,1.548662,-0.073699,0.046307,-1.210023,0.140506,0.340919,0.282626,1.00,0

In [30]:
data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94870.802846,0.004315,-0.002519,-0.118842,0.024897,-0.038770,0.009655,0.040623,-0.011299,0.012301,...,0.014567,0.053930,0.030355,0.048565,0.070067,0.049232,-0.010314,-0.004329,-0.008655,101.492642
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [31]:
x = data.drop(columns = 'Class', axis =1)
y = data['Class']

In [33]:
print(x)

            Time        V1        V2        V3        V4        V5        V6  \
38463    39399.0  1.350994 -0.654602  0.153743 -0.807613 -0.911887 -0.621794
114842   73642.0  1.363328 -0.879909  0.626231 -0.911871 -1.202636  0.029326
240655  150696.0 -0.751808  1.424322 -0.701528 -0.285638  0.472695 -1.292501
100081   67408.0 -0.570158  0.748027  1.815828 -0.066809  0.303242  0.310563
188854  128160.0  0.572669  0.817356 -0.012379  1.080272  0.192829 -0.762791
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
38463  -0.604031 -0.039503 -0.906834  ...  0.076307  0.288707  0.635796
114842 -1.229739  0.216405 -0.373928  ...  0.058013  0.369472  0.887971
240655  0.899229 -0.035056  0.263392  ...  0.033151  0.243435  1.006485
100081  0.751915 -0.123053  0.395612  ...  0.298252 -0.079053  0.533499
188854  0.600372 -0.275870 -0.274037  ...  0.097417  0.446425  1.548662
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
38463  -0.189782  0.010012  0.592851 -0.080692 -0.015932  0.000641   36.30
114842 -0.210716 -0.494394  0.451320 -0.011622  0.020387  0.006290   24.99
240655 -0.265322 -0.166147 -0.430845 -0.167697  0.187210  0.044677   22.36
100081 -0.248898  0.065763 -0.247873  0.323712  0.153145 -0.200977    3.79
188854 -0.073699  0.046307 -1.210023  0.140506  0.340919  0.282626    1.00
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [34]:
print(y)

38463     0
114842    0
240655    0
100081    0
188854    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [35]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size= .2, stratify =y, random_state =2)

Training

In [36]:
model = LogisticRegression()

In [37]:
model.fit(x_train, y_train)

LogisticRegression()

In [38]:
predict = model.predict(x_train)

In [39]:
acc= accuracy_score(predict, y_train)

In [40]:
print(acc)

0.9390088945362135

In [41]:
predict2 = model.predict(x_test)
acc2 = accuracy_score(predict2,y_test)

In [42]:
print(acc2)

0.9035532994923858